@import url(login_form.css);
@import url(register_form.css);
@import url(dashboard.css);
@import url(./component-styles/personalNavMenu.css);
@import url(./component-styles/sectionNavMenu.css);
@import url(./component-styles/discussions/mainFeed.css);
@import url(./component-styles/discussions/postOnFeed.css);

@font-face {
    font-family: "Por Siempre Gotica";
    src: url("../fonts/por-siempre-gotica.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/*Env variables regarding color scheme*/
@media (prefers-color-scheme: dark) {
    #mainContainer-login,
    #mainContainer-register {
        --login-bg-color-1: #0d1b2a;
        --login-txt-color: #e0e1dd;
        --login-form-data-bg: #1b263b;
        --login-form-border: #1c60dd;
        --login-form-data-border: #778da9;
        --login-form-outline-valid: rgb(11, 202, 11);
        --login-form-outline-invalid: rgb(238, 18, 18);
        --login-bg-color-percent: 45%;
        --login-urls: #d72be7;
    }
    :root {
        --navigation-dashboard-bg: #15bba5;
        --navigation-dashboard-input-bg: #1e033f;
        --navigation-dashboard-input-text: rgb(255, 255, 255);
    }

    #mainContainer-personalNavMenu {
        --background-color: rgb(46, 42, 42);
        --txt-color: white;
        --button-hover-light: rgba(0, 150, 255, 0.6);
    }
    #mainContainer-sectionNavMenu {
        --button-background-color: rgb(101, 89, 89);
        --background-color: rgb(46, 42, 42);
        --txt-color: white;
        --button-hover-light: rgba(0, 150, 255, 0.6);
        --button-background-color-hovered: rgb(34, 26, 26);
    }
    #mainContainer-dashboard main{
        --background-color: #00171f;
    }
}

@media (prefers-color-scheme: light) {
    #mainContainer-login,
    #mainContainer-register {
        --login-bg-color-1: #b0c4d8;
        --login-txt-color: black;
        --login-form-data-bg: #aecbeb;
        --login-form-border: black;
        --login-form-data-border: #5893d3;
        --login-form-outline-valid: rgb(11, 202, 11);
        --login-form-outline-invalid: rgb(238, 18, 18);
        --login-bg-color-percent: 25%;
        --login-urls: blue;
    }
    :root {
        --navigation-dashboard-bg: #640c4e;
        --navigation-dashboard-input-bg: #e7dcdc;
        --navigation-dashboard-input-text: black;
    }

    #mainContainer-personalNavMenu {
        --background-color: rgb(146, 146, 233);
        --txt-color: black;
        --button-hover-light: rgba(0, 0, 0, 0.7);
    }

    #mainContainer-sectionNavMenu {
        --button-background-color: rgb(92, 92, 178);
        --background-color: rgb(146, 146, 233);
        --txt-color: black;
        --button-hover-light: rgba(0, 0, 0, 0.7);
        --button-background-color-hovered: rgb(154, 154, 228);
    }
    #mainContainer-dashboard main{
        --background-color: #a0c1b9;
    }
}

* {
    margin: 0px;
    padding: 0px;
    min-width: 0;
}
html,
body,
#app {
    height: 100%;
    width: 100%;
    overflow: hidden;
}
