@import url(login_form.css);
@import url(register_form.css);
@import url(dashboard.css);

:root {
    /*Env variables regarding color scheme*/
    @media (prefers-color-scheme: dark) {
        #mainContainer-login,
        #mainContainer-register {
            --login-bg-color-1: #0d1b2a;
            --login-txt-color: #e0e1dd;
            --login-form-data-bg: #1b263b;
            --login-form-border: #1c60dd;
            --login-form-data-border: #778da9;
            --login-form-outline-valid: rgb(11, 202, 11);
            --login-form-outline-invalid: rgb(238, 18, 18);
            --login-bg-color-percent: 45%;
        }
        --navigation-dashboard-bg: #15bba5;
        --navigation-dashboard-input-bg: #1e033f;
        --navigation-dashboard-input-text: rgb(255, 255, 255);
    }

    @media (prefers-color-scheme: light) {
        #mainContainer-login,
        #mainContainer-register {
            --login-bg-color-1: #b0c4d8;
            --login-txt-color: black;
            --login-form-data-bg: #aecbeb;
            --login-form-border: #d72be7;
            --login-form-data-border: #5893d3;
            --login-form-outline-valid: rgb(11, 202, 11);
            --login-form-outline-invalid: rgb(238, 18, 18);
            --login-bg-color-percent: 30%;
        }
        --navigation-dashboard-bg: #640c4e;
        --navigation-dashboard-input-bg: #e7dcdc;
        --navigation-dashboard-input-text: black;
    }
}

* {
    margin: 0px;
    padding: 0px;
    min-width: 0;
}
html,
body,
#app {
    height: 100%;
    width: 100%;
}
