#mainContainer-login {
    overflow: hidden;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
}

#loginFormBox {
    border: 5px solid var(--form-border);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 6%;
    border-radius: 60px;
    form {
        width: 100%;
        height: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    input {
        width: 100%;
        padding: 5px;
        height: 100%;
        background-color: var(--login-form-data-bg);
        border: solid 2px var(--login-form-data-border);
        border-radius: 20px;
        color: var(--login-txt-color);
    }
    button {
        width: 45%;
        padding: 5px;
        height: 10%;
        background-color: var(--login-form-data-bg);
        border: solid 2px var(--login-form-data-border);
        border-radius: 20px;
        color: var(--login-txt-color);
    }
    h1 {
        color: var(--login-txt-color);
    }
    .inputContainer {
        width: 75%;
        height: 9%;
        display: flex;
        align-items: center;
    }
    .icon {
        width: 60px;
        height: 60px;
        margin-right: 5%;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
            object-fit: contain;
            width: 110%;
            height: 110%;
            display: block;
        }
        picture {
            width: 100%;
            height: 100%;
        }
    }
}

/*Styles regarding screeen sizes*/
@media (min-width: 850px) {
    #mainContainer-login {
        background-image: linear-gradient(
                105deg,
                var(--login-bg-color-1) var(--login-bg-color-percent),
                rgba(0, 0, 0, 0.36)
            ),
            url("../images/tymna_the_weaver.webp");
        background-size: cover, auto 100%;
        background-position: center, calc(100% + 80px) center;
        background-repeat: no-repeat, no-repeat;
        /*I would really like to make a image carrusel with thrasios sisay kinnan etc but i dont have the time right now*/
    }
    #loginFormBox {
        width: 30%;
        height: 60vh;
        margin-left: 7%;
        input {
            font-size: large;
        }
        button {
            font-size: larger;
            transition: transform ease 0.5s;
        }
        button:hover {
            transform: scale(1.1);
        }
        button:active {
            transform: scale(1);
        }
    }
}
@media (max-width: 849px) {
    #mainContainer-login {
        background-color: var(--bg-color-1);
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    #loginFormBox {
        height: 67%;
    }
    .inputContainer {
        display: flex;
    }
}
