#mainContainer-login {
    overflow: hidden;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
}
#loginFormBox-container {
    display: flex;
    --r: 60px;
    -webkit-mask: radial-gradient(var(--r) at var(--r) var(--r), #0000 98%, #000)
        calc(-1 * var(--r)) calc(-1 * var(--r));
    background-color: var(--login-form-border);
    align-items: center;
    justify-content: center;
}
#loginFormBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--login-bg-color-1);
    height: 99%;
    width: 99%;
    -webkit-mask: radial-gradient(var(--r) at var(--r) var(--r), #0000 98%, #000)
        calc(-1 * var(--r)) calc(-1 * var(--r));
    form {
        width: 100%;
        height: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    input {
        width: 100%;
        padding: 5px;
        height: 100%;
        background-color: var(--login-form-data-bg);
        border: solid 2px var(--login-form-data-border);
        border-radius: 20px;
        color: var(--login-txt-color);
    }
    button {
        width: 45%;
        padding: 5px;
        height: 10%;
        background-color: var(--login-form-data-bg);
        border: solid 2px var(--login-form-data-border);
        border-radius: 20px;
        color: var(--login-txt-color);
    }
    h1 {
        color: var(--login-txt-color);
        font-family: "Por Siempre Gotica";
        font-size: 60px;
    }
    .inputContainer {
        width: 75%;
        height: 9%;
        display: flex;
        align-items: center;
    }
    .icon {
        width: 60px;
        height: 60px;
        margin-right: 5%;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
            object-fit: contain;
            width: 110%;
            height: 110%;
            display: block;
        }
        picture {
            width: 100%;
            height: 100%;
        }
    }
    a {
        margin-bottom: 3%;
        margin-top: 3%;
    }
    hr {
        background-color: var(--login-form-data-border);
        border: none;
        width: 80%;
        height: 3px;
    }
}

/*Styles regarding screeen sizes*/
@media (min-width: 850px) {
    #mainContainer-login {
        background-image: linear-gradient(
                105deg,
                var(--login-bg-color-1) var(--login-bg-color-percent),
                rgba(0, 0, 0, 0.36)
            ),
            url("../images/tymna_the_weaver.webp");
        background-size: cover, auto 100%;
        background-position: center, calc(100% + 80px) center;
        background-repeat: no-repeat, no-repeat;
        /*I would really like to make a image carrusel with thrasios sisay kinnan etc but i dont have the time right now*/
    }
    #loginFormBox-container {
        width: 30%;
        height: 60vh;
        margin-left: 7%;
    }
    #loginFormBox {
        input {
            font-size: large;
            transition: transform ease 0.23s;
        }
        input:focus {
            transform: scale(1.05);
            outline: none;
        }
        button {
            font-size: larger;
            transition: transform ease 0.28s;
        }
        button:hover {
            transform: scale(1.1);
        }
        button:active {
            transform: scale(1);
        }
    }
}
@media (max-width: 849px) {
    #mainContainer-login {
        background-color: var(--bg-color-1);
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    #loginFormBox-container {
        height: 67%;
    }
    .inputContainer {
        display: flex;
    }
}
